####### Docker ENV Vars #######
LOOPBACK_IP=127.0.0.1
PHPSTORM_SERVER_NAME=tests.testris.local

RABBIRMQ_USER=rabbitmq
RABBIRMQ_PASSWORD=rabbitmq
HOST_RABBIRMQ_PORT=39004
HOST_RABBIRMQ_GUI_PORT=39005
