####### Docker ENV Vars #######
PHPSTORM_SERVER_NAME=tests.testris.local
 # Nginx port on host machine
HOST_NGINX_PORT=18102

RABBITMQ_HOST=runner.mq
RABBITMQ_USER=rabbitmq
RABBITMQ_PASSWORD=rabbitmq
HOST_RABBIRMQ_PORT=39004
HOST_RABBIRMQ_GUI_PORT=39005
REDIS_DSN=redis://runner.redis:6379
